@import url("top2.css");
@import url("oh.css");
.ks_con { width:1200px; margin:0px auto;}
.banner { width:100%; float:left; margin-top:102px; height:485px; background:url(/images/yyjj-01.jpg) no-repeat center top;}

.banner_c {width:500px; padding-left:50px; padding-top:40px; float:left; margin-left:600px; color:#fff;}
.banner_c h1 { width:100%; float:left; font-weight:normal; font-size:24px; line-height:34px;}
.banner_c h2 { width:100%; float:left; font-weight:normal; font-size:32px; line-height:44px;}
.banner_c span { width:100%; float:left; border-bottom:1px solid #ffffff; font-size:30px; margin-top:33px; line-height:51px;}
.banner_c p { width:100%; float:left; font-size:16px; margin-top:22px; line-height:25px;}
.banner_c a { width:160px; margin-top:25px; text-align:center; height:42px; line-height:42px; float:left; font-size:18px; color:#ffffff; border:1px solid #ffffff;-moz-border-radius:22px; /* Gecko browsers */ -webkit-border-radius: 22px; /* Webkit browsers */ border-radius:22px; /* W3C syntax */}


.yyjj_con { width:1200px; margin:0px auto; overflow:hidden}
.yyjj_con1 { width:100%; float:left; margin-top:80px;}
.yyjj_con1 img { float:left;}
.yyjj_con1 h1 { font-size:30px; font-weight:normal; text-transform:uppercase; color:#202020; width:100%; line-height:58px; float:left; font-family:"Times New Roman", Times, serif;}
.yyjj_con1 h1 strong { border-bottom:1px solid #565656;}
.yyjj_con1 span { width:100%; float:left; color:#029394; font-size:24px; padding-bottom:20px; line-height:35px;}
.yyjj_con1 p { width:100%; float:left; font-size:16px; color:#565656; line-height:25px;}
.yyjj_con1 p strong {color:#03a9aa}

.yyjj_con1_c1 { width:700px; padding:40px 50px 0px 50px; height:210px; background:url(/images/yyjj-09.jpg) no-repeat right center; background-size:800px 250px; -webkit-transition:0.5s; float:left; margin-top:7px;}
.yyjj_con1_c1:hover {background-size:880px 275px;}
.yyjj_con1_c2 { width:293px; height:210px; padding:40px 50px 0px 50px; float:left; margin-top:7px; background:#f7f7f7; margin-left:7px;}

.yyjj_con1_c3 { width:293px; height:210px; overflow:hidden; padding:40px 50px 0px 50px; float:left; margin-top:7px; background:url(/images/yyjj-05.jpg) no-repeat center center; background-size:393px 250px; -webkit-transition:0.5s;}
.yyjj_con1_c3:hover {background-size:432px 275px;}
.yyjj_con1_c3a { width:132px; float:left; height:46px; background:url(/images/yyjj-05-1.png) no-repeat right center; text-align:center; color:#ffffff; line-height:46px; font-size:34px;}
.yyjj_con1_c3 span { width:auto; float:left; font-size:18px; color:#202020; padding:0px; line-height:46px;}

.yyjj_con1_c4 { width:320px; height:190px; padding:60px 40px 0px 40px; float:left; margin-top:7px; margin-left:7px; background:url(/images/yyjj-06.jpg) no-repeat right bottom; background-size:400px 250px; -webkit-transition:0.5s;}
.yyjj_con1_c4 h1 { color:#ffffff;}
.yyjj_con1_c4:hover {background-size:440px 275px;}
.yyjj_con1_c5 { width:393px; height:250px; float:left; margin-top:7px; margin-left:7px; background:url(/images/yyjj-07.jpg) no-repeat center center; background-size:393px 250px; -webkit-transition:0.5s;}
.yyjj_con1_c5:hover {background-size:432px 275px;}
.yyjj_con1_c6 { width:393px; height:250px; float:left; margin-top:7px; background:url(/images/yyjj-08.jpg) no-repeat center center; background-size:393px 250px; -webkit-transition:0.5s;}
.yyjj_con1_c6:hover {background-size:432px 275px;}
.yyjj_con1_c7 { width:700px; height:190px; float:left; padding:60px 50px 0px 50px; margin-top:7px; margin-left:7px; background:url(/images/yyjj-09.jpg) no-repeat right center; background-size:800px 250px; -webkit-transition:0.5s;}
.yyjj_con1_c7:hover {background-size:880px 275px;}
.yyjj_con1_c8 { width:650px; height:190px; float:left; padding:40px 50px 0px 50px; margin-top:7px; background:#f7f7f7;}
.yyjj_con1_c9 { width:363px; height:170px; padding:60px 40px 0px 40px; float:left; margin-top:7px; margin-left:7px; background:#00b4b5; cursor:pointer;}
.yyjj_con1_c9 h1 { color:#ffffff;}
.yyjj_con1_c9:hover {background-size:440px 275px;}



.yyjj_con2 { width:100%; float:left; margin-top:60px;}
.yyjj_con2 img { float:left;}
.yyjj_con2 a { float:left; width:100%; }


.ks_con_title { width:100%; float:left; border-bottom:1px solid #dfdddd; padding-bottom:10px;}
.ks_con_title span { float:left; color:#202020; line-height:30px; font-size:24px;}
.ks_con_title p { float:left; margin-left:20px; padding-left:20px; border-left:2px solid #7f7c7c; color:#7f7c7c; font-size:20px; line-height:30px; text-transform: capitalize;}
.ks_con_title h1 { float:right; color:#03a2a3; font-weight:normal; font-size:16px; line-height:30px; text-transform: capitalize;}
.ks_con_title a { font-size:14px; width:95px; text-transform:uppercase; float:right; background: url(/images/zjbot.jpg) no-repeat center center; background-size:0px 0px; -webkit-transition:0.5s; height:28px; line-height:28px; color:#07aaab; text-align:center; border:1px solid #ebebeb; -moz-border-radius:15px; /* Gecko browsers */ -webkit-border-radius:15px; /* Webkit browsers */ border-radius:15px; /* W3C syntax */}
.ks_con_title a:hover { font-size:14px; color:#ffffff; background-size:95px 30px; border:1px solid #76d0d0; }

.yyjj_con3 { width:100%; float:left; margin-top:80px; padding:20px 0px; background:#f7f7f7;}
.yyjj_con3_c { width:100%; float:left; margin-top:15px; position:relative; float:left;}

.yyjj_con3_c1 { width:572px; height:272px; left:50%; margin-left:-285px; position:relative; overflow:hidden;}

.yyjj_con3_c .btn{position:absolute;cursor:pointer;z-index:99;font-size:50px;font-weight:bold;}
.yyjj_con3_c #prevTop,.yyjj_con3_c #nextTop{top:150px;width:56px;height:56px;}
.yyjj_con3_c #prevTop{background:url(/images/hover_left.png) 0 0 no-repeat; left:50%; margin-left:-350px;}
.yyjj_con3_c #nextTop{background:url(/images/hover_right.png) 0 0 no-repeat; right:50%; margin-right:-350px;}
.yyjj_con3_c li{float:left;}
.yyjj_con3_c .cf li {position:relative;}
.yyjj_con3_c .picBox {width:572px; height:270px; background:url(/images/yyjj-016.png) no-repeat center center; left:50%; margin-left:-285px; position:relative; overflow:hidden;}
.yyjj_con3_c .picBox ul{height:220px;position:absolute; left:0;}
.yyjj_con3_c .picBox li { width:522px; height:220px; float:left; padding:25px;}
.yyjj_con3_ca { width:305px; text-align:center; height:220px; float:left; background:#ffffff; overflow:hidden;}
.yyjj_con3_ca img { max-width:305px; max-height:220px;}
.yyjj_con3_cb { width:192px; margin-left:25px; float:left;}
.yyjj_con3_cb span { width:100%; float:left; font-size:20px; color:#028898; line-height:35px; margin-top:20px;}
.yyjj_con3_cb p { width:100%; float:left; color:#202020; font-size:16px; line-height:25px; margin-top:10px;}
.yyjj_con3_cc { width:100%; float:left; background:url(/images/yyjj-018.png) repeat-x top center; min-height:17px; margin-top:20px;}

.yyjj_con3_c .listBox {width:1200px;height:220px;margin:0 auto;position:relative; padding-top:15px;overflow:hidden;}
.yyjj_con3_c .listBox ul {height:220px; position:absolute;}
.yyjj_con3_c .listBox li {width:100px; padding:0px 10px; height:220px;cursor:pointer; position:relative;}
.yyjj_con3_c .listBox li span { width:100%; float:left; color:#000000; font-size:15px; text-align:center; line-height:25px;}
.yyjj_con3_c .listBox li p { width:100%; float:left; color:#454545; font-size:14px; line-height:20px;}
.yyjj_con3_cd { width:100%; float:left; height:80px; overflow:hidden;}
.yyjj_con3_c .listBox .on span { color:#028898}
.yyjj_con3_c .listBox .on p { color:#028898}
.yyjj_con3_c .listBox .on { color:#028898}

.yyjj_con4 { width:100%; float:left; margin-top:60px;}
.sy_con3_c { width:1200px; float:left; margin-top:35px;}
.sy_con3_c ul { width:1200px; float:left; }
.sy_con3_c ul li { width:291px; margin-left:12px; float:left;}
.sy_con3_cb { width:291px; float:left; height:2px; overflow:hidden; background: url(/images/zjbot.jpg) no-repeat left bottom; background-size:0px 2px; -webkit-transition:1s;}
.sy_con3_c ul li:hover .sy_con3_cb {background-size:291px 2px;}

.sy_con3_cc { width:291px; float:left; overflow:hidden; background:#f9f9f9;}
.sy_con3_c1 { width:291px; height:120px; text-align:center; float:left; overflow:hidden;}
.sy_con3_c1 img { width:100%; float:none; text-align:center; }

.sy_con3_c2 { width:247px; height:105px; padding:20px 22px 0px 22px; float:left; background:#f9f9f9; overflow:hidden;}
.sy_con3_c2 span { width:100%; color:#202020; font-size:18px; float:left; line-height:34px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.sy_con3_c2 span a { color:#202020;}
.sy_con3_c2 span a:hover { color:#00b3b4;}
.sy_con3_c2 p { width:100%; float:left; color:#454545; font-size:14px; line-height:25px; height:50px; overflow:hidden;}
.sy_con3_c2 p a { color:#00b3b4;}


.yyjj_con5 { width:100%; float:left; margin-top:80px; height:330px; padding-top:170px; background:url(/images/yyjj-014.jpg) no-repeat center top;}
.yyjj_con5 img { float:left;}

.yyjj_con6 { width:100%; float:left; margin-top:80px; padding-bottom:50px; border-bottom:1px solid #eeeded;}
.yyjj_con6 ul { width:100%; float:left;}
.yyjj_con6 ul li { width:280px; float:left; height:255px; line-height:25px; text-align:center; border:1px solid #eeeded; background-size:255px 255px; -webkit-transition:0.5s;}
.yyjj_con6 ul li img { width:255px; margin:0px 12.5px; height:200px; float:left;}
.yyjj_con6 ul li:hover {background-size:280px 280px;}
.yyjj_con6_1 { background:url(/images/yyjj-015-1.jpg) no-repeat center center;}
.yyjj_con6_2 { margin-left:24px; background:url(/images/yyjj-015-2.jpg) no-repeat center center;}
.yyjj_con6_3 { margin-left:24px; background:url(/images/yyjj-015-3.jpg) no-repeat center center;}
.yyjj_con6_4 { margin-left:24px; background:url(/images/yyjj-015-4.jpg) no-repeat center center;}
.yyjj_con6_5 { margin-top:35px; background:url(/images/yyjj-015-5.jpg) no-repeat center center;}
.yyjj_con6_6 { margin-left:24px; margin-top:35px; background:url(/images/yyjj-015-6.jpg) no-repeat center center;}
.yyjj_con6_7 { margin-left:24px; margin-top:35px; background:url(/images/yyjj-015-7.jpg) no-repeat center center;}
.yyjj_con6_8 { margin-left:24px; margin-top:35px; background:url(/images/yyjj-015-8.jpg) no-repeat center center;}
.yyjj_con6 ul li span { width:100%; float:left; color:#353535; font-weight:bold; font-size:15px; margin-top:-15px;}
.yyjj_con6 ul li p { width:100%; float:left; color:#565656; font-size:14px;}



.yyjj_fd { width:150px; float:left; position:fixed; top:50%; margin-top:-180px; right:0px;}
.yyjj_fd ul { width:150px; float:left;}
.yyjj_fd ul li { width:115px; cursor:pointer; font-size:16px; padding-left:35px; margin-top:5px; background:#f7f7f7; height:40px; line-height:40px;}
.yyjj_fd ul li a { color:#787878;}
.yyjj_fd ul li:hover { background:url(/images/yyjj-020.png) no-repeat left center #00b4b5;}
.yyjj_fd ul li:hover a { color:#ffffff;}